*{
  padding: 0;
  margin: 0;
}
.wrapper{
  width: 100%;
}
.wrapper .carousel-container{
  margin: 0 auto;
  width: 459px;
  height: 202px;
  overflow: hidden;
  position: relative;
}
.wrapper .carousel-container .carousel-list{
  width: 1377px;
  height: 202px;
  z-index: 1;
  position: relative;
  /* transition: transform 1s ease; */
}
.wrapper .carousel-container .carousel-list .carousel-item{
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 459px;
  height: 202px;
}
.wrapper .carousel-container .carousel-list .carousel-item img{
  width: 100%;
}
.wrapper .carousel-container .carousel-list .carousel-item:nth-of-type(1){
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
}
.wrapper .carousel-container .carousel-list .carousel-item:nth-of-type(2){
  transform: translate3d(459px, 0px, 0px);
  z-index: 4;
}
.wrapper .carousel-container .carousel-list .carousel-item:nth-of-type(3){
  transform: translate3d(459px, 0px, 0px);
  z-index: 3;
}
.wrapper .carousel-container .carousel-list .carousel-item:nth-of-type(4){
  transform: translate3d(459px, 0px, 0px);
  z-index: 2;
}
.wrapper .carousel-container .carousel-list .carousel-item:nth-of-type(5){
  transform: translate3d(459px, 0px, 0px);
  z-index: 1;
}
.wrapper .carousel-container .carousel-indicator{
  width: 459px;
  display: flex;
  align-items: center;
}
.wrapper .carousel-container .carousel-indicator .indicator-list{
  position: absolute;
  right: 12px;
  bottom: 12px;
  /* width: 459px; */
  display: flex;
  justify-content: center;
  z-index: 10;
}
.wrapper .carousel-container .carousel-indicator .indicator-list .indicator-item{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all .2s;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
}
.wrapper .carousel-container .carousel-indicator .indicator-list .indicator-item.active{
  background-image: url("https://s1.hdslb.com/bfs/static/jinkela/international-home/asserts/icon_slide_selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  background-color: transparent;
  transform: scale(1.8);
  border-width: 0;
}